@layer reset, base, theme, util;

@layer reset {
	:root {
		color-scheme: light;
		overflow-y: scroll;
		scroll-behavior: smooth;
		scrollbar-width: thin;
		overflow-y: scroll;
		font: normal normal normal 62.5% / 1.35 system-ui;
		interpolate-size: allow-keywords;
	}

	:where(*, *::before, *::after) {
		box-sizing: border-box;
		margin: unset;
	}

	:where(body) {
		font-size: 2em;
	}

	:where(input, select, textarea, button) {
		font: inherit;
	}

	:where(a) {
		text-decoration: none;
		color: currentColor;
	}

	:where(ul, ol) {
		padding-inline-start: 3rem;

		&:where([role="list"], [role="menu"]) {
			list-style: none;
			padding: 0;

			li {
				margin: 0;
			}
		}
	}

	:where(img, picture, figure, iframe, video, svg) {
		display: block;
		max-inline-size: 100%;
		block-size: auto;
		place-content: center;
		text-align: center;
	}

	:where(svg *) {
		transform-box: fill-box;
		transform-origin: center;
	}

	:where(:popover-open) {
		margin: auto;
		padding: unset;
		border: unset;
		background: unset;
	}

	@media (prefers-reduced-motion: no-preference) {
		@view-transition {
			navigation: auto;
		}
	}
}

@layer base {
	:root {
		--fs-0: clamp(1.28rem, 0.17vi + 1.21rem, 1.43rem);
		--fs-1: clamp(1.6rem, 0.34vi + 1.46rem, 1.9rem);
		--fs-2: clamp(2rem, 0.61vi + 1.76rem, 2.53rem);
		--fs-3: clamp(2.5rem, 1vi + 2.1rem, 3.38rem);
		--fs-4: clamp(3.13rem, 1.56vi + 2.5rem, 4.5rem);
		--fs-5: clamp(3.91rem, 2.38vi + 2.96rem, 6rem);
		--fs-6: clamp(4.88rem, 3.54vi + 3.47rem, 8rem);
	}
}

@layer theme {
	:root {
		--colorPri: #e1e1d5;
		--colorBody: #38443c;
	}
	body {
		background: #f8f7f3;
		color: var(--colorBody);
	}
}

@layer util {
	.text {
		&.s-0 {
			font-size: var(--fs-0);
		}
		&.s-1 {
			font-size: var(--fs-1);
		}
		&.s-2 {
			font-size: var(--fs-2);
		}
		&.s-3 {
			font-size: var(--fs-3);
		}
		&.s-4 {
			font-size: var(--fs-4);
		}
		&.s-5 {
			font-size: var(--fs-5);
		}
		&.s-6 {
			font-size: var(--fs-6);
		}
		&.c-pri {
			color: var(--colorPri);
		}
		&.c-suc {
			color: var(--colorSuc);
		}
		&.c-mes {
			color: var(--colorMes);
		}
		&.c-err {
			color: var(--colorErr);
		}
		&.w-bold {
			font-variation-settings: "wght" 700;
		}
		&.s-italic {
			font-style: italic;
		}
		&.a-start {
			text-align: start;
		}
		&.a-center {
			text-align: start;
		}
		&.a-end {
			text-align: end;
		}
	}
}
